.filters {
	display: flex;
	margin: 25px 0;
	justify-content: center;
	flex-direction: column;
	width: 100%;  

	@media (max-width: $mobile-breakpoint) {
		div {
			margin: 5px 0;
		}
	}

	@media (min-width: 480px) {    
		flex-direction: row;
	}

	label {
		font-size: 18px;
		margin: 0 15px;
		font-weight: bold;

		@media (max-width: $mobile-breakpoint) {
			width: 50%;
			display: inline-block;

			div {
				margin: 5px 0;
			}
		}
	}

	select {
		color: $text-color;
		font-size: 16px;
		font-family: Arial, sans-serif;
		background-color: $background-color;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 1px solid $border-color;
		outline: none;
		padding: 8px;
		background-image: url($arrow-image); 
		background-repeat: no-repeat;
		background-position: right 10px center;
		background-size: 15px;
		min-width: 170px;

		@media (min-width: $mobile-breakpoint) {
			min-width: 150px;
		}
	}

	option {
		color: $text-color;
		background-color: $background-color;
		margin: 3px 0;
		text-transform: capitalize;
	}
}