@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');

body {
	background-color: $background-color;
	color: $text-color;
	font-family: 'Alike';
	background: linear-gradient(51deg,$background-color,darken($background-color, 20%), lighten($background-color, 5%));
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
}

